body {
    font-size: 16px;
    color: black;
    background-color:white;
    font-family: 'Oxygen', sans-serif;
}
.navbar-inverse{  
    background: rgb(58, 56, 56);
    border-color: black;
}
.navbar-inverse .navbar-brand{
    color:white;
    font-family: monospace;
    font-size: 30px;
    margin-top: 5px;
    margin-right: 35px;
    text-align: right;
}
@media (min-width: 768px){
    .navbar-nav {
        float: right;
    }  
 
#myNavbar .navbar-inverse li a{
    color: grey;
    font-size: 18px;
    font-family:monospace;
    text-align: center;
    border-bottom: 1px dotted white;

}
.dropdown{
    position: relative;
}
#myNavbar .dropdown-menu{
    display: none;
    position: absolute;
    width: 5px;
}
#myNavbar .dropdown:hover .dropdown-menu{
    display: block;
    color: blue
}
.txtalign {
    text-align: center;
}

.container {
    width: 100%;
    margin-top: 1%;
}

.card {
    margin-top: 2%;
}

.card_content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tbl {
    border: solid 2px;
    background-color: gray;
}

.tbl_head {
    border: solid 2px;
    width: 40%;
    text-align: center;
    font-weight: bold;
    height: 25px;
}

#chicken {
    background-color: pink;
}

#beef {
    background-color: red;
}

#sushi {
    background-color: yellow;
}

#header {
    text-align: center;
    font-weight: bolder;
}